.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.service {
  position: relative;
  background: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: 2s;
}

.service::before {
  content: "";

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-primary);
  opacity: 1;
  transform-origin: top center;
  transform: scale3d(1, 1, 1);
  transition: 1s ease-in;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.serviceUX::before {
  content: "UI/UX Design";
}

.serviceWEB::before {
  content: "Web Development";
}

.serviceSEO::before {
  content: "SEO optimization";
}

.service:hover::before {
  opacity: 1;
  transform: scale3d(1, 0, 1);
  visibility: visible;
}
.service:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.service__head {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
  color: var(--clor-bg);
  font-size: 1rem;
  text-align: center;
}

.service__list {
  z-index: -10;
  padding: 2rem;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.service__list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.icon {
  color: var(--color-primary);
  margin-top: 2px;
}

.service__list p {
  font-size: 0.9rem;
}
.service__list span {
  font-weight: bold;
}


@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .service {
    height: auto;
  }
}

/*=========== MEDIA QUERIES (MOBILE PHONES) ===========*/
@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .service__list {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service__list li {
    font-size: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 0.5rem;
  }
  
}
